body{
    background-color: darkcyan;
    text-align: center;
    margin: auto;
    position: relative;
    top: auto;
}
#table{
    text-align: center;
    margin: auto;
    position: relative;
    top: auto;
}
